html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
  text-align: left;
}

tr>th:nth-child(4),
tr>th:nth-child(5),
tr>th:nth-child(6)  {
  text-align: right;
}

td {
  text-align: left;
}

tr>td:nth-child(4),
tr>td:nth-child(5),
tr>td:nth-child(6) {
  text-align: right;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

#tableFooter {
  text-align: center;
}

.form-container {
  margin-top: 10px;
}

.form-container h1 {
  font-size: 1rem;

}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 10px;
}

.form-inputs label,
.form-inputs > div {
  font-size: 0.5rem;
}

.form-inputs input {
  padding: 0.1rem;
  font-size: 0.7rem;
  width: clamp(150px, 20vw, 400px);
  height: 1rem;
  border: 2px solid #E5E7EB;
  border-radius: 5px;
}

.form-inputs input[type=radio] {
  width: 20px;
  height: 1rem;
  padding: 0px;
  margin: 0px;
}

.form-inputs fieldset {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0.1rem;
  font-size: 0.7rem;
  width: clamp(150px, 20vw, 400px);
  height: 1rem;
  border: none;
}

.radio-group {
  display: flex;
  align-items: center;
}

.input-group1,
.input-group2,
.input-group3 {
  display: flex;
  flex-direction: row;
  gap: clamp(2vw, 5vw, 100px);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-submit {
  margin-top: 10px;
}

#closeAddBookDialogButton {
  position: absolute;
  right: 1px;
  top: 1px;
}

/* #closeUpdateBookRatingDialogButton {
  position: absolute;
  right: 1px;
  top: 1px;
} */